// Colours
$greenGradient: linear-gradient(92.95deg, #6CCF81 2.45%, #B3D16D 98.44%);
$green: #6DD081;
$darkGreen: #6CCF81;
$white: #fff;
$black: #000;
$grey: #333;

// Fonts
$mainFont: 'Inter', sans-serif;